* {
  font-family: monospace;
 box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  padding: 30px;
  background-color: wheat;

}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #1c4229;
  color: wheat;
  border: 10px solid wheat;
}

h1 {
  font-size: 60px;
}

.nav {
  display: flex;
  justify-content: right;
}

.card-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  border: 2px solid #1c4229;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 2px solid #1c4229;
}

.portfolio-lg {
  width: 100%;
}

.portfolio-sm {
  width: 32%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {

  .card card-portfolio {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {

  .card card-portfolio {
    flex-direction: column;
    width: 50%;
  }
}
